html {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
}
header {
    font-family: 'IM Fell English SC', serif;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
.button {
    width: 100px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

#start, #startOver {
    text-align: center;
    position: relative;
    width: 100px;
    padding: 10px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.trivia {
    width: 66%;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: normal;
    font-size: 20px;
}

li {
font-weight: bold;
}

.question {
    margin-bottom: 20px;
}

#time {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    display: inline;
    font-size: 20px;

}

#alert {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

#content {
    width: 75%;
    margin: auto;
    min-height: 75vh;
    background-color: rgba(226,253,244, .5);
    overflow: auto;
    padding: 10px;
    padding-top: 50px;
    vertical-align: center;
}

li:hover {
    background-color: rgba(113,139,162, .5);
}

#score {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 10px;
}

#correctCount {
    display: inline;
}

#incorrectCount {
    display: inline;
}

#unansweredCount {
    display: inline;
}

p {
    display: inline;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}