html {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
}
header {
    font-family: 'IM Fell English SC', serif;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
#button {
    width: 100px;
    margin: auto;
}

button {
    text-align: center;
    position: relative;
    width: 100px;
    padding: 10px;
    margin: auto;
}

.trivia {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#time {
    text-align: center;
}

#alert {
    text-align: center;
}